$color-background: rgb(255, 255, 255);
$color-header: #011329;
$color-text-2: #fff;
$color-signal: rgb(250, 43, 43);
$color-two: #cacaca;
$color-three: #aeb6bc;
$color-four: #6d6d7d;
$color-five: #444459;
$color-six: #011936;